{% extends "layouts/layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Prototypes
        <span class="heading-secondary">Listed by 'version' or 'iteration' name</span>
      </h1>
      
      {{ macros.subapps_list(apps) }}
      
      <br>
      
      <hr>
      
      <h2 class="heading-medium">Archived prototypes</h2>
      
      <p>Below is a list of 'archived' prototypes. They are hosted on a separate server, so these links open in a new tab/window.</p>
      
      <ul class="list">
        <li>Username: <span class="mono-inline">dwp-fes</span></li>
        <li>Password: <span class="mono-inline">sef-pwd</span></li>
      </ul>
      
      <ul class="list list-bullet">
        <li><a href="https://dwp-fes.herokuapp.com/versions/alpha/alpha-01-CasesVariation/app/index" target="_blank">Alpha 01-CasesVariation</a></li>
        <li><a href="https://dwp-fes.herokuapp.com/versions/alpha/alpha-01-DayViewVariation/app/index" target="_blank">Alpha 01-DayViewVariation</a></li>
        <li><a href="https://dwp-fes.herokuapp.com/versions/alpha/alpha-01-MenuTest/app/index" target="_blank">Alpha 01-MenuTest</a></li>
        <li><a href="https://dwp-fes.herokuapp.com/versions/alpha/alpha-01-WeekViewVariation/app/index" target="_blank">Alpha 01-WeekViewVariation</a></li>
        <li><a href="https://dwp-fes.herokuapp.com/versions/alpha/alpha-01/app/index" target="_blank">Alpha 01</a></li>
        <li><a href="https://dwp-fes.herokuapp.com/versions/alpha/sprint-1/app/index" target="_blank">Sprint 1</a></li>
        <li><a href="https://dwp-fes.herokuapp.com/versions/alpha/sprint-2-TestA/app/index" target="_blank">Sprint 2-TestA</a></li>
        <li><a href="https://dwp-fes.herokuapp.com/versions/alpha/sprint-2/app/index" target="_blank">Sprint 2</a></li>
        <li><a href="https://dwp-fes.herokuapp.com/versions/alpha/sprint-3/app/index" target="_blank">Sprint 3</a></li>
        <li><a href="https://dwp-fes.herokuapp.com/versions/alpha/sprint-4/app/index" target="_blank">Sprint 4</a></li>
        <li><a href="https://dwp-fes.herokuapp.com/versions/alpha/sprint-5/app/index" target="_blank">Sprint 5 (old)</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}